@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.swiper-pagination-bullet {
  background: #cbd5e1;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #2b3cab;
  transform: scale(1.2);
}
